.Header {
  background-color: #f4f4f4;
  background-image: linear-gradient(45deg, #E87255 0%, #E9A448 100%);
}
.Header:after {
  content: '';
  display: table;
  width: 100%;
}
.Header-logo {
  display: block;
  float: left;
  margin: .5rem 0 .5rem .5rem;
  width: 150px;
}

.Header-logo > img {
  width: 100%;
}

@media (min-width: 30rem) {
  .Header-logo {
    width: 250px;
  }
}
