.ActivityListing {
  margin: 0;
}

.ActivityListing-link {
  border-top: 1px solid #e8e8e8;
  color: inherit;
  display: block;
  padding: .75rem 0;
  text-decoration: none;
}

.ActivityListing-title {
  font-size: 1.25em;
  margin: 0 0 .125em 0;
}
